.container {
  position: fixed;
  width: 228px;
  height: 275px;
  left: 41px;
  top: 43px;
  background-color: #131313;
  border-radius: 15px;
  padding: 1.5rem;
}

.heading {
  font-size: 20px;
  color: #a5a5a5;
}

.lineBreak {
  height: 1px;
  background-color: #cbcbcb;
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

.select_wrapper {
  margin: 1rem 0;
}

@media screen and (max-width: 600px) {
  .container {
    position: relative;
    margin-bottom: 20px;
  }
}
