.right_block_content {
  background-color: #292929;
  height: 100vh;
  width: calc(100% - 350px);
  padding-top: 43px;
}
.heading {
  font-size: 35px;
  color: #ffffff;
  font-weight: bold;
  margin-left: 1rem;
}
.sub_head {
  font-size: 25px;
  color: #8d8d8d;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

@media screen and (max-width: 600px) {
  .right_block_content {
    width: 100%;
    margin: 0 0.5rem;
  }
}
