.heading{
  position: absolute;
width: 111px;
height: 42px;
left: 303px;
top: 43px;

font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 35px;
line-height: 42px;
color: rgba(255, 255, 255, 0.87);
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.solid_top{
  position: absolute;
width: 970px;
height: 0px;
left: 303px;
top: 192px;

border: 1px solid rgba(203, 203, 203, 0.5);
}

.solid_bottom{
position: absolute;
width: 970px;
height: 0px;
left: 303px;
top: 473px;
border: 1px solid rgba(203, 203, 203, 0.5);
}
